<config xmlns="http://www.xfa.org/schema/xci/3.0/"
><agent name="designer"
><!--  [0..n]  --><destination
>pdf</destination
><pdf
><!--  [0..n]  --><fontInfo
/></pdf
></agent
><present
><!--  [0..n]  --><pdf
><!--  [0..n]  --><version
>1.7</version
><adobeExtensionLevel
>11</adobeExtensionLevel
><creator
>Designer 6.5</creator
><producer
>Designer 6.5</producer
><scriptModel
>XFA</scriptModel
><interactive
>1</interactive
><tagged
>1</tagged
><fontInfo
><embed
>0</embed
></fontInfo
><encryption
><encrypt
>1</encrypt
><encryptionLevel
>128bit</encryptionLevel
><permissions
><accessibleContent
>1</accessibleContent
><contentCopy
>0</contentCopy
><documentAssembly
>0</documentAssembly
><formFieldFilling
>1</formFieldFilling
><modifyAnnots
>1</modifyAnnots
><print
>1</print
><printHighQuality
>1</printHighQuality
><change
>0</change
><plaintextMetadata
>0</plaintextMetadata
></permissions
></encryption
><compression
><level
>6</level
><compressLogicalStructure
>1</compressLogicalStructure
><compressObjectStream
>1</compressObjectStream
></compression
><linearized
>1</linearized
><silentPrint
><addSilentPrint
>0</addSilentPrint
><printerName
/></silentPrint
><viewerPreferences
><duplexOption
>simplex</duplexOption
><numberOfCopies
>0</numberOfCopies
><printScaling
>appDefault</printScaling
><pickTrayByPDFSize
>0</pickTrayByPDFSize
><enforce
/><ADBE_JSDebugger
>delegate</ADBE_JSDebugger
><ADBE_JSConsole
>delegate</ADBE_JSConsole
><addViewerPreferences
>0</addViewerPreferences
></viewerPreferences
></pdf
><common
><log
><to
>memory</to
><mode
>overwrite</mode
></log
><template
><base
>F:\FORMS\Forms Branch\2-Forms\1-Public Use Forms\I Forms\I-129\I-129 Last OMB Approved\I-129-USCISAPP-BioSex-01202025 (to publish)\</base
></template
></common
><cache
><macroCache
/></cache
><xdp
><packets
>*</packets
></xdp
><destination
>pdf</destination
><output
><to
>uri</to
><uri
>F:\FORMS\Forms Branch\2-Forms\1-Public Use Forms\I Forms\I-129\I-129 Last OMB Approved\I-129-USCISAPP-BioSex-01202025 (to publish)\I129-FRM-USCISApproved-01202025-Functionality3.pdf</uri
></output
></present
><psMap
><font typeface="Calibri" psName="Calibri" weight="normal" posture="normal"
/><font typeface="Calibri" psName="Calibri-Italic" weight="normal" posture="italic"
/><font typeface="Adobe Caslon Pro Bold" psName="ACaslonPro-Bold" weight="normal" posture="normal"
/><font typeface="SymbolPS" psName="Symbol" weight="normal" posture="normal"
/><font typeface="Segoe UI" psName="SegoeUI" weight="normal" posture="normal"
/><font typeface="Segoe UI" psName="SegoeUI-Bold" weight="bold" posture="normal"
/></psMap
><acrobat
><acrobat7
><dynamicRender
>forbidden</dynamicRender
></acrobat7
><common
><versionControl sourceBelow="maintain"
/><data
><adjustData
/><xsl
><uri
/></xsl
><outputXSL
><uri
/></outputXSL
></data
><template
><base
>F:\FORMS\Forms Branch\2-Forms\1-Public Use Forms\I Forms\I-129\I-129 Last OMB Approved\I-129-USCISAPP-BioSex-01202025 (to publish)\</base
><relevant
/><uri
/></template
></common
><autoSave
/><validate
>preSubmit</validate
></acrobat
></config
>